@tailwind base;
@tailwind components;
@tailwind utilities;

/* MY CUSTOM CSS VARIABLES START */
:root {
  --primary-color: #53545c;

  /* GRAY */
  --gray-50: #f4f5fa;
  --gray-100: #5e63661a;
  --gray-200: #bec0ca;

  /* WHITE */
  --white: #ffffff;

  /* BLUE */
  --blue-100: #5570f1;

  /* BORDER-RADIUS */
  --rounded: 0.25rem;
  --rounded-sm: 8px;
  --rounded-md: 12px;
  --rounded-lg: 16px;
  --rounded-full: 50%;

  /* BORDER */
  --border: 1px solid var(--gray-50);

  /* SHADOW */
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);

  --shadow-xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);

  /* TRANSITION */
  --transition: all 0.3s ease-in-out;
}

@layer components {
  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d8d5d5;
    border-radius: 10px;
    visibility: visible;
    transform: var(--transition);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  @media screen and (min-width: 1200px) {
    .custom-scrollbar::-webkit-scrollbar-thumb {
      visibility: hidden;
    }
  }
}
/* MY CUSTOM CSS VARIABLES END */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.z-index {
  z-index: 40;
}
